
@media screen and(max-with: 500px){
    .mb-2{
        background-color: rgba(42, 1, 58, 0);
        width: 450px;
        height: 450px;
    }
}

.mb-2{
    background-color: rgba(42, 1, 58, 0);
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    
}
.text{
    color: white;
    margin-bottom: 40px;
  }
.test{
    display: flex;
    flex-direction: row;
}
.row{
    justify-content: space-around;
    
}
.CardImage{
    width: 400px;
    height: 300px;
}